/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2018, 2:04:12 PM
    Author     : U s E r ¨
*/
@media (max-width: 768px) {
    .desc-inner .contact-info i {
        color: #6678ea;
        font-size: 26px;
        position: absolute;
        left: 33px;
    }
}

