/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2018, 2:04:12 PM
    Author     : U s E r ¨
*/
@media (max-width: 768px) {
    .desc-inner .contact-info i {
        color: #6678ea;
        font-size: 26px;
        position: absolute;
        left: 33px;
    }
    .gallery__item {
        margin-bottom: 30px;
    }
    .gallery__item:last-child {
        margin-bottom: 0px;
    }
    .footer_logo {
        margin-top: 0px;
    }
    #search {
        margin-top: 20px;
    }
}
@media (max-width: 991px) {
    #search {
        margin-top: 20px;
    }
}
@media (max-width: 420px) {
    #search {
        margin-left: 28%;
    }
}
@media (min-width: 420px) and (max-width: 540px) {
    #search {
        margin-left: 32%;
    }
}
@media (min-width: 540px) and (max-width: 991px) {
    #search {
        margin-left: 36%;
    }
}

