/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2018, 2:04:12 PM
    Author     : U s E r ¨
*/
@media (max-width: 768px) {
    .desc-inner .contact-info i {
        color: #6678ea;
        font-size: 26px;
        position: absolute;
        left: 33px;
    }
    .gallery__item {
        margin-bottom: 30px;
    }
    .gallery__item:last-child {
        margin-bottom: 0px;
    }
    .footer_logo {
        margin-top: 0px;
    }
    #search {
        margin-top: 20px;
    }
}
@media (max-width: 991px) {
    #search {
        margin-top: 20px;
    }
    .gallery__item__content .btn {
        margin-left: -15px;
    }
    .reg-btn {
        margin-top: 0px;
        padding: 10px 14px 9px;
        margin-left: 0px;
        font-size: 12px;
    }
}
@media (max-width: 420px) {
    #search {
        margin-left: 28%;
    }
    .desc-inner .contact-info i {
        left: -5px;
    }
}
@media (min-width: 420px) and (max-width: 540px) {
    #search {
        margin-left: 32%;
    }
}
@media (min-width: 540px) and (max-width: 991px) {
    #search {
        margin-left: 36%;
    }
}
@media (max-width: 649px) {
    #tt-mobile-top-box .inside .tt-select-small {
        width: 32.5%;
    }
}
@media (min-width: 650px) and (max-width: 991px) {
    #tt-mobile-top-box .inside .tt-select-small {
        width: 33%;
    }
}
@media (min-width: 1000px) and (max-width: 1199px) {
    .header-navigation-wrap .navbar .menu-navigation__list > li {
        margin-right: 52px;
        width: 185px;
        text-align: center;
    }
}
@media (max-width: 365px) {
    .header-tp {
        left: 64px;
    }
    .header-tp2 {
        display: none;
    }
    .header-email {
        display: none;
    }
}
@media (max-width: 391px) {
    .header-email {
        display: none;
    }
    .welcome-text {
        top: -61px;
    }
    .car-rates {
        font-size: 12px;
    }
}
@media (width: 360px) {
    .header-tp {
        left: 104px;
    }
}
@media (width: 996px) {
    .header-navigation-wrap .navbar .menu-navigation__list > li {
        width: 175px;
    }
}

@media (min-width: 366px) and (max-width: 391px) {
    .header-tp2 {
        display: block;
    }
}
@media (min-width: 392px) and (max-width: 533px) {
    .header-tp2 {
        display: none;
    }
    .welcome-text {
        top: -82px;
    }
}
@media (min-width: 534px) and (max-width: 633px) {
    .welcome-text {
        top: -126px;
    }
}
@media (min-width: 634px) and (max-width: 800px) {
    .welcome-text {
        top: -190px;
    }
}
@media (min-width: 950px) and (max-width: 992px) {
    .header-tp {
        left: 243px;
    }
    .header-email {
        left: 408px;
    }
    .blog-posts-carousel {
        margin-top: -208px;
    }
}
@media (min-width: 992px) and (max-width: 1279px) {
    .header-container__flex .tt-header-info .tt-item {
        margin-left: 11px;
    }
    .gallery__item__content {
        margin-bottom: 25px;
    }
    #search {
        margin-left: 43%;
        margin-top: 10px;
    }
    #tt-mobile-top-box .inside .tt-select-small {
        width: 33%;
    }
    .header-email {
        margin-left: 220px
    }
    .header-tp {
        margin-left: 265px
    }
    .gallery__item__content .btn {
        margin-left: -137px;
    }
    .header-container__flex .tt-header-info {
        max-width: 620px;
    }
    .logo a {
        padding-left: 0px;
    }
}


