/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2018, 11:45:23 AM
    Author     : U s E r ¨
*/

.header-container_wrap {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-container__flex .tt-header-info {
    margin-top: 5px;
}
.header-navigation-wrap .navbar .menu-navigation__list > li {
    margin-right: 52px;
    width: 253px;
    text-align: center;
}
.book-form .book-form__block-select .tt-select-small {
    width: 332px;
    min-width: 332px;
}
.book-form__btn .btn {
    margin-top: 0px;
    height: 40px;
}
.book-form {
    padding: 19px 0 19px 0;
}
.book-form-box {
    background: #00009980;
    margin-top: -78px;
    position: relative;
    z-index: 9999;
}
/*.desc-inner h1 {
    color: #000;
}
.desc-inner p {
    color: #000;
}*/
/*.car-info-box__description {
    background: #fff;
}
.car-info-box__thumb {
    background: #fff;
}
.car-info-box__thumb::after {
    border-color: transparent transparent transparent #fff;
}

*/
.car-info-box {
    margin-bottom: 0px;
}
#page-content {
    padding-bottom: 0px;
    z-index: 2;
}
.desc-inner .contact-info i {
    color: #6678ea;
    font-size: 26px;
    position: absolute;
    left: 55px;
}
.mobile-top-panel__fixed .navbar-default .navbar-header {
    padding: 12px 20px 12px 20px;
}
.mobile-top-panel__fixed .logo a {
    padding-left: 0px;
}
.car-info-box .car-info-box__thumb {
    height: auto;
    margin-top: 5px;
}
.desc-inner .contact-info span.phone_number {
    font-size: 18px;
}
.contact-info span.phone_number {
    font-size: 18px;
}
.text-link {
    font-size: 18px;
}
.blog-posts-carousel .text-link {
    margin-bottom: 8px;
}
.wrapper p {
    color: #000;
}
.testimonials-carousel_box .block_tesimonial blockquote {
    border-right-color: rgba(0, 0, 0, 0.4);
    border-left-color: rgba(0, 0, 0, 0.4);
}
.block_tesimonial blockquote .inner_blockquote::before {
    background: rgba(0, 0, 0, 0.4);
}
.block_tesimonial blockquote .inner_blockquote::after {
    background: rgba(0, 0, 0, 0.4);
}
.block_tesimonial blockquote .wrapper::before { 
    background: rgba(0, 0, 0, 0.4);
}
.block_tesimonial blockquote .wrapper::after {
    background: rgba(0, 0, 0, 0.4);
}
.testimonials-carousel_box .block_tesimonial .author_info .position {
    color: #000;
}
.block_tesimonial .author_info .name a:hover {
    color: rgb(102, 120, 234);
}
.testimonials-carousel_box h1 {
    color: #009;
    margin-bottom: 15px;
}
.block_tesimonial .author_info .name {
    color: #009;
}
.testimonials-carousel_box {
    margin-bottom: 0px;
}
.post-column {
    background: #fff;
    border: 1px solid #ccc;
}
.post-column h3 a {
    font-weight: 400;
    color: #000;
    margin-bottom: 17px;
}
.post-column h3 a:hover {
    font-weight: 400;
    color: #606;
    margin-bottom: 17px;
}
.post-column .btn.btn__marker {
    color: #606;
}
.post-column .btn.btn__marker:hover {
    color: #009;
}
.header-container__flex .tt-header-info .tt-item .tt-icon {
    color: #009;
}
.navbar .menu-navigation__list > li.current > a, .navbar .menu-navigation__list > li.open > a, .navbar .menu-navigation__list > li.open > a:hover, .navbar .menu-navigation__list > li > a:hover {
    background: none;
    color: #009;
}
.btn {
    background: #009;
}
.scrollup {
    background: #009;
}
.gallery__item__content h6 a{
    color: #606;
}
.gallery__item__content h6 a:hover {
    color: #009;
}
.breadcrumbs__item-link:hover {
    color: #009;
}
.breadcrumbs__title {
    font-size: 46px;
    color: #606;
}
#road {
    background: #009;
}
.loading {
    color: #009;
}
.col-width {
    width: 250px;
}
.breadcrumbs {
    min-height: 120px;
    margin-bottom: 20px;
}
.contact-info-block .logo-contacts {
    margin-bottom: 20px;
}
.contact-info-block .logo-contacts .logo {
    margin-left: 33px
}
.wrap-form {
    margin-top: 30px;
    margin-bottom: 40px;
}
.car-info-box__description {
    padding: 56px 70px 0px;
}
.isotop-box {
    margin-bottom: 0px;
}
ul .inline li {
    display: inline;
}
.icon-list {
    margin-left: -50px;
}
.inline {
    width: 208px;
}
.gallery__item {
    min-height: 443px;
}
.alert-dismissable .close, .alert-dismissible .close {
    right: 16px;
}
.order-details-form input[type="text"] {
    padding: 9px 10px 11px 13px;
}
.timepicki-input {
    margin-bottom: 0px;
}
.footer_logo {
    margin-top: 38px;
}
.site-footer .box-elements {
    padding: 25px 0 0 0;
}
.site-footer__bottom-panel {
    padding: 25px 0 25px;
}
.footer-list.contact-info span.phone_number {
    display: block;
    font-size: 18px;
    padding: 0 0 12px 40px;
    padding-left: 40px;
    position: relative;
}
.details-car.car-rates {
    margin-bottom: 0px;
}
/*----Pagination----*/
ul.setPaginate {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font: 12px 'Tahoma';
    list-style-type: none;
}
ul.setPaginate li.setPage {
    padding: 15px 10px;
    font-size: 14px;
}
ul.setPaginate li {
    float: left;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
    margin-left: 5px;
    color: #000;
}
ul.setPaginate li a:hover, ul.setPaginate li a.current_page {
    background: none repeat scroll 0 0 #0d92e1;
    border: 1px solid #000000;
    color: #ffffff;
    text-decoration: none;
}
ul.setPaginate li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 5px 8px;
    text-decoration: none;
}
ul.setPaginate li a {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #cccccc;
    color: #999999;
    display: inline-block;
    font: 15px/25px Arial,Helvetica,sans-serif;
    margin: 5px 3px 0 0;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
}
/*----Slider-----*/
.galleria-slider {
    border: solid 1px #AFAFAF;
    box-shadow: 0px 0px 4px #6F6F6F;
    margin-bottom: 20px;
}
.galleria-slider .galleria-stage {
    background: #000 !important;
}

.vehicle-container{
    padding-top: 38px;
    padding-bottom: 26px;
}
.gallery__item__content .btn {
    padding: 8px 40px 10px;
}
.model-details-box__info {
    padding-right: 0%;
}
.details-car tr td:first-child {
    width: 45%;
}
.car-rates tr td:first-child {
    width: 37%;
}
.welcome-text {
    top: -225px;
}
.parallax_box {
    padding: 30% 0 3.54%;
    text-align: left;
}
.post-item__content {
    padding: 30px 0px 20px;
}
.blog-posts-carousel .swiper-button-prev {
    left: 60px;
}
.blog-posts-carousel .swiper-button-next {
    right: 60px;
}
.blog-posts-carousel {
    padding: 0px 0 25px;
}
.gallery__item__image {
    width: 300px;
}
.gallery__item .tt-list-descriptions {
    margin-left: 35px;
}
.gallery__item__content .btn {
    margin-left: 44px;
    font-size: 14px;
}
.gallery__item__content h6 {
    width: 300px;
}
.swiper-container-blog {
    padding-bottom: 0px;
}
.reg-btn {
    margin-top: -79px;
    padding: 14px 13px 16px;
    margin-left: 20px;
}
.logo a {
    padding-left: 30px;
}